<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Links -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- flowbite -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet" />
    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- ICONIFY -->
    <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
    <!-- VUE 2 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>



</head>

<body>
    <div id="app">
        <div class="text-center mt-24">
            <div class="flex items-center justify-center">
                <img src="Images/Quantum_Logo.jpg" style="height: 80px ; width: 200px;">
            </div>
            <div class="flex items-center justify-center">
                <svg fill="none" viewBox="0 0 24 24" class="w-12 h-12 text-sky-500" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
                </svg>
            </div>
            <h2 class="text-4xl tracking-tight">
                Login to your Account
            </h2>
            <span class="text-sm">or <a href="register.html" class="text-sky-500">
                    register a new account
                </a>
            </span>
        </div>
        <div class="flex justify-center my-2 mx-4 md:mx-0 mb-12">
            <form class="w-full max-w-xl bg-white rounded-lg shadow-md p-6">
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full md:w-full px-3 mb-6">
                        <label v-if="email_error != ''"
                            class="block uppercase tracking-wide text-gray-700  text-red-700 text-xs font-bold mb-2"
                            for='Password'>Email address</label>
                        <label v-else class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                            for='Password'>Email address</label>
                        <div v-if="email_error != ''" class="relative">
                            <input
                                class="border-red-500 text-red-900 placeholder-red-200 appearance-none block w-full bg-red-50 text-gray-900 font-medium border border-gray-400 rounded-lg py-3 px-3 leading-tight focus:outline-none"
                                type='email' v-model="email" placeholder="Enter Email Address" required>
                            <p id="filled_error_help" class="mt-2 text-xs text-red-600">{{email_error}}</p>
                        </div>
                        <div v-else class="relative">
                            <input
                                class="appearance-none block w-full bg-white text-gray-900 font-medium border border-gray-400 rounded-lg py-3 px-3 leading-tight focus:outline-none"
                                type='email' v-model="email" placeholder="Enter Email Address" required>
                        </div>
                    </div>

                    <div class="w-full md:w-full px-3 mb-6">
                        <label v-if="password_error != ''"
                            class="block uppercase tracking-wide text-gray-700  text-red-700 text-xs font-bold mb-2"
                            for='Password'>Password</label>
                        <label v-else class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                            for='Password'>Password</label>
                        <div v-if="password_error != ''" class="relative">
                            <input
                                class="border-red-500 text-red-900 placeholder-red-200 appearance-none block w-full bg-red-50 text-gray-900 font-medium border border-gray-400 rounded-lg py-3 px-3 leading-tight focus:outline-none"
                                type='password' v-model="password" placeholder="Enter Password" required>
                            <p id="filled_error_help" class="mt-2 text-xs text-red-600">{{password_error}}</p>
                        </div>
                        <div v-else class="relative">
                            <input
                                class="appearance-none block w-full bg-white text-gray-900 font-medium border border-gray-400 rounded-lg py-3 px-3 leading-tight focus:outline-none"
                                type='password' v-model="password" placeholder="Enter Password" required>
                        </div>

                    </div>
                    <div class="w-full md:w-full px-3 mb-6">
                        <button @click="checkUser()" style="background-color: #0284c7;" type="button"
                            class="appearance-none block w-full bg-blue-600 text-gray-100 font-bold border border-gray-200 rounded-lg py-3 px-3 leading-tight hover:bg-blue-500 focus:outline-none focus:bg-white focus:border-gray-500">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>


<script>
    const vm = new Vue({
        el: '#app',
        data: {
            localhost: "http://localhost:5000",
            email: "",
            password: "",
            email_error: "",
            password_error: "",
            all_vendors: "",
            all_approvers: "",
            all_admins: "",
        },
        mounted: async function () {
            const API_URL = this.localhost + "/users/"
            const API_URL2 = this.localhost + "/users/userType/VENDOR";
            const API_URL3 = this.localhost + "/users/userType/ADMIN";
            const API_URL4 = this.localhost + "/users/userType/APPROVER";

            const requestOne = axios.get(API_URL)
            const requestTwo = axios.get(API_URL2);
            const requestThree = axios.get(API_URL3)
            const requestFour = axios.get(API_URL4)

            axios.all([requestOne, requestTwo, requestThree, requestFour])
                .then(axios.spread((...responses) => {
                    const responseOne = responses[0].data
                    const responseTwo = responses[1].data
                    const responseThree = responses[2].data
                    const responseFour = responses[3].data

                    this.users = responseOne;
                    console.log(this.users)
                    this.all_vendors = responseTwo;
                    this.all_approvers = responseFour;
                    this.all_admins = responseThree;
                }))
                .catch(error => {
                    console.log(error.message)
                })

        },
        methods: {
            checkUser() {
                if (!/^[^@]+@\w+(\.\w+)+\w$/.test(this.email)) {
                    this.email_error = 'Invalid email!';
                } else {
                    var count = 0
                    var total_users = this.users.length
                    if (this.email != "" && this.password != "") {
                        // check for user type
                        for (each of this.users) {
                            if (each.emailAddress == this.email && each.password == this.password.toString()) {
                                var userType = each.userType
                                localStorage.userId = each.userId
                                if (userType == 'VENDOR') {
                                    console.log("adkfjadfad")
                                    window.location.assign("./Vendor/Vendor_workflow.html")
                                }
                                if (userType == "APPROVER") {
                                    window.location.assign("./Approver/Approver_home.html")
                                }
                                if (userType == 'ADMIN') {
                                    window.location.assign("./Admin/Admin_home.html")
                                }
                            } else if (each.emailAddress == this.email && each.password != this.password
                                .toString()) {
                                this.password_error = "Invalid Password!"
                            } 
                            else{
                                count += 1
                            }
                        }
                    }

                    if (count == total_users){
                        this.email_error = "Email does not exist!"
                    }
                }
                this.email = "";
                this.password = "";
            }
        }
    })
</script>

<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


</html>