<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links -->
    <!-- flowbite -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet" />
    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- ICONIFY -->
    <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
    <!-- VUE 2 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- tailwind elements -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    fontFamily: {
                        sans: ['Inter', 'sans-serif'],
                    },
                }
            }
        }
    </script>

    <title>Quantum</title>

</head>

<body>
    <div id="app">

        <!-- header -->
        <div class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded ">
            <div class="container flex flex-wrap items-center justify-between mx-auto"
                style="width: 100%; overflow: hidden;">
                <img src="../Images/Quantum_Logo.jpg" class="mr-3 sm:h-15 ml-3 mt-2 mb-2"
                    style="height: 80px ; width: 200px;" />

                <div class="flex md:order-2">
                    <a href="../Approver/Approver_home.html" style="margin-right: 10px;">
                        <iconify-icon icon="ic:round-home" style="color: #0284c7;" width="40" height="40">
                        </iconify-icon>
                    </a>

                    <button id="dropdownAvatarNameButton" data-dropdown-toggle="dropdownAvatarName"
                        class="flex items-center text-sm font-medium text-gray-900 rounded-full hover:text-sky-600  md:mr-0"
                        type="button">
                        <span class="sr-only">Open user menu</span>
                        <a class='mr-2'>
                            <iconify-icon icon="healthicons:ui-user-profile" style="color: #0284c7;" width="40"
                                height="40">
                            </iconify-icon>
                        </a>
                        Tim Klemmer
                        <svg class="w-4 h-4 mx-1.5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </button>

                    <!-- Dropdown menu -->
                    <div id="dropdownAvatarName"
                        class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-50 ">
                        <div class="px-4 py-3 text-sm text-gray-900 ">
                            <div class="font-bold">Approver</div>
                            <div class="truncate">Tim.Klemmer@quantum.com</div>
                        </div>
                        <ul class="py-2 text-sm text-gray-700 "
                            aria-labelledby="dropdownInformdropdownAvatarNameButtonationButton">
                            <li>
                                <a href="#" class="block px-4 py-2 hover:bg-gray-100 ">Settings</a>
                            </li>
                        </ul>
                        <div class="py-2">
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 ">Sign
                                out</a>
                        </div>
                    </div>

                    <button data-collapse-toggle="navbar-sticky" type="button"
                        class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 "
                        aria-controls="navbar-cta" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <!-- Navbar -->
        <nav class="bg-gray-100">
            <div class="items-center justify-between hidden w-full md:flex md:width-auto  md:order-1" id="navbar-sticky"
                style="width: 100%; overflow: hidden;">
                <ul
                    class="md:divide-x md:divide-slate-200 flex flex-col p-2 border border-gray-100 rounded-lg bg-gray-50 md:flex-row  md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-gray-100">
                    <li>
                        <a href="../Approver/Approver_home.html"
                            class="lg:text-sm md:text-xs mr-2 ml-4 lg:ml-10 block py-2 pl-3 pr-2 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-sky-600 md:p-0"
                            aria-current="page">Home</a>
                    </li>
                    <li>
                        <a href="../Approver/Approver_workflow.html"
                            class="lg:text-sm md:text-xs ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-sky-600 md:p-0"
                            aria-current="page">Workflows</a>
                    </li>
                    <li>
                        <a href="../Approver/Approver_accounts.html"
                            class="lg:text-sm md:text-xs ml-5 mr-4 block py-2 pl-3 pr-4 text-white bg-sky-600 rounded md:bg-transparent md:text-sky-600 md:p-0 dark:text-white">
                            Accounts</a>
                    </li>
                    <li>
                        <a href="../Approver/Approver_form.html"
                            class="lg:text-sm md:text-xs ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-sky-600 md:p-0">
                            Forms</a>
                    </li>
        </nav>

        <!-- Orange Divider -->
        <div class='row' style='height: 8px; background-color: #0284c7'></div>

        <!-- Table -->
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg mx-8 mt-3">
            <table class="w-full text-sm text-left text-gray-500">
                <caption class="p-5 text-lg font-semibold text-left text-gray-900 bg-white ">
                    Accounts
                    <p class="mt-1 text-sm font-normal text-gray-500">
                        <span class='text-sky-600' onclick="document.location = 'Approver_home.html'">Home > </span>
                        <span>Accounts</span>
                    </p>
                </caption>
                <thead class="text-xs text-white uppercase bg-sky-600">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Vendor ID
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Workflow ID
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Workflow Name
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Workflow Completion
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Last Submitted
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Workflow Deadline
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-white border-b ">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                            V001
                        </th>
                        <td class="px-6 py-4">
                            WF111
                        </td>
                        <td class="px-6 py-4">
                            Subcontractors Safety
                        </td>
                        <td class="px-6 py-4">
                            1/2
                        </td>
                        <td class="px-6 py-4">
                            1/30/23
                        </td>
                        <td class="px-6 py-4">
                            2/2/23
                        </td>
                        <td class="px-6 py-4 text-red-600">
                            Incomplete
                        </td>
                    </tr>
                    <tr class="bg-white border-b ">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                            V002
                        </th>
                        <td class="px-6 py-4">
                            WF123
                        </td>
                        <td class="px-6 py-4">
                            Subcontractors Safety
                        </td>
                        <td class="px-6 py-4">
                            1/2
                        </td>
                        <td class="px-6 py-4">
                            1/2/23
                        </td>
                        <td class="px-6 py-4">
                            2/2/23
                        </td>
                        <td class="px-6 py-4 text-red-600">
                            Incomplete
                        </td>
                    </tr>
                    <tr class="bg-white">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                            V003
                        </th>
                        <td class="px-6 py-4">
                            WF112
                        </td>
                        <td class="px-6 py-4">
                            Subcontractors Safety
                        </td>
                        <td class="px-6 py-4">
                            2/2
                        </td>
                        <td class="px-6 py-4">
                            1/1/23
                        </td>
                        <td class="px-6 py-4">
                            2/2/23
                        </td>
                        <td class="px-6 py-4 text-green-600">
                            Completed
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <!-- Button for Creating Form -->
        <div class="mx-8 mt-3">
            <button type="button" data-modal-target="authentication-modal" data-modal-toggle="authentication-modal"
                class="text-white bg-sky-600 hover:bg-sky-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">Create
                Account</button>
            <button type="button"
                class="inline-block px-6 py-2.5 bg-sky-600 hover:bg-sky-800 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-sky-700 hover:shadow-lg focus:bg-sky-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-sky-800 active:shadow-lg transition duration-150 ease-in-out"
                data-bs-toggle="modal" data-bs-target="#exampleModalScrollable">
                Create Account
            </button>
        </div>

        <!-- Modal -->
        <div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
            id="exampleModalScrollable" tabindex="-1" aria-labelledby="exampleModalScrollableLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-scrollable relative w-auto pointer-events-none">
                <div
                    class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
                    <div
                        class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
                        <h5 class="text-xl font-medium leading-normal text-gray-800" id="exampleModalScrollableLabel">
                            Create Account
                        </h5>
                        <button type="button" data-bs-dismiss="modal"
                            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center">
                            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </button>
                    </div>
                    <div class="modal-body relative p-4">
                        <div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6">
                            <div class="grid gap-4 gap-y-2 text-sm grid-cols-1">
                                <div class="lg:col-span-2">
                                    <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5">
                                        <div class="md:col-span-5">
                                            <label for="full_name">Full Name</label>
                                            <input type="text" name="full_name" id="full_name"
                                                class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" />
                                        </div>

                                        <div class="md:col-span-5">
                                            <label for="email">Email Address</label>
                                            <input type="text" name="email" id="email"
                                                class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value=""
                                                placeholder="email@domain.com" />
                                        </div>

                                        <div class="md:col-span-3">
                                            <label for="address">Address / Street</label>
                                            <input type="text" name="address" id="address"
                                                class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value=""
                                                placeholder="" />
                                        </div>

                                        <div class="md:col-span-2">
                                            <label for="city">City</label>
                                            <input type="text" name="city" id="city"
                                                class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value=""
                                                placeholder="" />
                                        </div>

                                        <div class="md:col-span-2">
                                            <label for="country">Country / region</label>
                                            <div
                                                class="h-10 bg-gray-50 flex border border-gray-200 rounded items-center mt-1">
                                                <input name="country" id="country" placeholder="Country"
                                                    class="px-4 appearance-none outline-none text-gray-800 w-full bg-transparent"
                                                    value="" />
                                                <button tabindex="-1"
                                                    class="cursor-pointer outline-none focus:outline-none transition-all text-gray-300 hover:text-red-600">
                                                    <svg class="w-4 h-4 mx-2 fill-current"
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round">
                                                        <line x1="18" y1="6" x2="6" y2="18"></line>
                                                        <line x1="6" y1="6" x2="18" y2="18"></line>
                                                    </svg>
                                                </button>
                                                <button tabindex="-1" for="show_more"
                                                    class="cursor-pointer outline-none focus:outline-none border-l border-gray-200 transition-all text-gray-300 hover:text-blue-600">
                                                    <svg class="w-4 h-4 mx-2 fill-current"
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round">
                                                        <polyline points="18 15 12 9 6 15"></polyline>
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>

                                        <div class="md:col-span-2">
                                            <label for="state">State / province</label>
                                            <div
                                                class="h-10 bg-gray-50 flex border border-gray-200 rounded items-center mt-1">
                                                <input name="state" id="state" placeholder="State"
                                                    class="px-4 appearance-none outline-none text-gray-800 w-full bg-transparent"
                                                    value="" />
                                                <button tabindex="-1"
                                                    class="cursor-pointer outline-none focus:outline-none transition-all text-gray-300 hover:text-red-600">
                                                    <svg class="w-4 h-4 mx-2 fill-current"
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round">
                                                        <line x1="18" y1="6" x2="6" y2="18"></line>
                                                        <line x1="6" y1="6" x2="18" y2="18"></line>
                                                    </svg>
                                                </button>
                                                <button tabindex="-1" for="show_more"
                                                    class="cursor-pointer outline-none focus:outline-none border-l border-gray-200 transition-all text-gray-300 hover:text-blue-600">
                                                    <svg class="w-4 h-4 mx-2 fill-current"
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                        stroke-linejoin="round">
                                                        <polyline points="18 15 12 9 6 15"></polyline>
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>

                                        <div class="md:col-span-1">
                                            <label for="zipcode">Zipcode</label>
                                            <input type="text" name="zipcode" id="zipcode"
                                                class="transition-all flex items-center h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                                                placeholder="" value="" />
                                        </div>

                                        <div class="md:col-span-5">
                                            <div class="inline-flex items-center">
                                                <input type="checkbox" name="billing_same" id="billing_same"
                                                    class="form-checkbox" />
                                                <label for="billing_same" class="ml-2">My billing address is different
                                                    than above.</label>
                                            </div>
                                        </div>

                                        <div class="md:col-span-2">
                                            <label for="soda">How many soda pops?</label>
                                            <div
                                                class="h-10 w-28 bg-gray-50 flex border border-gray-200 rounded items-center mt-1">
                                                <button tabindex="-1" for="show_more"
                                                    class="cursor-pointer outline-none focus:outline-none border-r border-gray-200 transition-all text-gray-500 hover:text-blue-600">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mx-2"
                                                        viewBox="0 0 20 20" fill="currentColor">
                                                        <path fill-rule="evenodd"
                                                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                                            clip-rule="evenodd" />
                                                    </svg>
                                                </button>
                                                <input name="soda" id="soda" placeholder="0"
                                                    class="px-2 text-center appearance-none outline-none text-gray-800 w-full bg-transparent"
                                                    value="0" />
                                                <button tabindex="-1" for="show_more"
                                                    class="cursor-pointer outline-none focus:outline-none border-l border-gray-200 transition-all text-gray-500 hover:text-blue-600">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                        class="h-4 w-4 mx-2 fill-current" viewBox="0 0 20 20"
                                                        fill="currentColor">
                                                        <path fill-rule="evenodd"
                                                            d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                                                            clip-rule="evenodd" />
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-gray-200 rounded-b-md">
                        <button type="button" data-bs-dismiss="modal"
                            class="inline-block px-6 py-2.5 bg-sky-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out ml-1">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- old modal -->
        <div id="authentication-modal" tabindex="-1" aria-hidden="true"
            class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full">
            <div class="relative w-full h-full max-w-md md:h-auto">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <button type="button"
                        class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
                        data-modal-hide="authentication-modal">
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                    <div class="px-6 py-6 lg:px-8">
                        <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Create an Account</h3>
                        <form class="space-y-6" action="#">
                            <div>
                                <label for="name"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Company's
                                    Name</label>
                                <input type="name" name="name" id="name" v-model="name"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                    required>
                            </div>
                            <div>
                                <label for="registration"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Company's
                                    Registration No</label>
                                <input type="registration" name="registration" id="registration" v-model="registration"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                    required>
                            </div>
                            <div>
                                <label for="office_address"
                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Office
                                    Address</label>
                                <input type="office_address" name="office_address" id="office_address"
                                    v-model="office_address"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                    required>
                            </div>
                            <div class="row">
                                <div>
                                    <label for="office_address"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tel</label>
                                    <input type="office_address" name="office_address" id="office_address"
                                        v-model="office_address"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                        required>
                                </div>
                                <div>
                                    <label for="office_address"
                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fax</label>
                                    <input type="office_address" name="office_address" id="office_address"
                                        v-model="office_address"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                        required>
                                </div>
                            </div>
                            <button id="dropdownRadioButton" data-dropdown-toggle="dropdownDefaultRadio"
                                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                                type="button">GST Registered<svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none"
                                    stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M19 9l-7 7-7-7"></path>
                                </svg></button>
                            <!-- DROPDOWN for GST Registered -->
                            <div id="dropdownDefaultRadio"
                                class="z-10 hidden w-48 bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600">
                                <ul class="p-3 space-y-3 text-sm text-gray-700 dark:text-gray-200"
                                    aria-labelledby="dropdownRadioButton">
                                    <li>
                                        <div class="flex items-center">
                                            <input id="default-radio-1" type="radio" value="Yes" name="default-radio"
                                                v-model="gstRegistered"
                                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                            <label for="default-radio-1"
                                                class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Yes</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="flex items-center">
                                            <input checked id="default-radio-2" type="radio" value="No"
                                                v-model="gstRegistered" name="default-radio"
                                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                            <label for="default-radio-2"
                                                class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">No</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <button type="submit" @click="createAcc"
                                class="w-80 text-white bg-sky-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Done</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<script>
    const vm = new Vue({
        el: '#app',
        data: {
            gstRegistered: '',
            office_address: '',
            registration: '',
            name: '',
            tel: "",
            fax: "",
        },
        methods: {
            createAcc() {
                console.log(this.gstRegistered);
            }
        }
    })
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>


</html>