<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
    <!-- VUE 2 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- tailwind elements -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    fontFamily: {
                        sans: ['Inter', 'sans-serif'],
                    },
                }
            }
        }
    </script>
    <title>Quantum</title>
    <style>
        table {
            border: none;
            border-collapse: collapse;
        }

        table td {
            border-left: 1px solid #e6e6e6;
            border-right: 1px solid #d6d6d6;
        }

        table td:first-child {
            border-left: none;
        }

        table td:last-child {
            border-right: none;
        }
    </style>
</head>

<body>
    <div id="app">
        <!-- header -->
        <div class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded ">
            <div class="container flex flex-wrap items-center justify-between mx-auto"
                style="width: 100%; overflow: hidden;">
                <img src="../Images/Quantum_Logo.jpg" class="mr-3 sm:h-15 ml-3 mt-2 mb-2"
                    style="height: 80px ; width: 200px;" />

                <div class="flex md:order-2">
                    <a href="../Approver/Approver_home.html" style="margin-right: 10px;">
                        <iconify-icon icon="ic:round-home" style="color: #0284c7;" width="40" height="40">
                        </iconify-icon>
                    </a>

                    <button id="dropdownAvatarNameButton" data-dropdown-toggle="dropdownAvatarName"
                        class="flex items-center text-sm font-medium text-gray-900 rounded-full hover:text-sky-600  md:mr-0"
                        type="button">
                        <span class="sr-only">Open user menu</span>
                        <a class='mr-2'>
                            <iconify-icon icon="healthicons:ui-user-profile" style="color: #0284c7;" width="40"
                                height="40">
                            </iconify-icon>
                        </a>
                        {{userName}}
                        <svg class="w-4 h-4 mx-1.5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </button>

                    <!-- Dropdown menu -->
                    <div id="dropdownAvatarName"
                        class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-50 ">
                        <div class="px-4 py-3 text-sm text-gray-900 ">
                            <div class="font-bold">{{userName}}</div>
                            <div class="truncate">{{emailAddress}}</div>
                        </div>
                        <ul class="py-2 text-sm text-gray-700 "
                            aria-labelledby="dropdownInformdropdownAvatarNameButtonationButton">
                            <li>
                                <a href="#" class="block px-4 py-2 hover:bg-gray-100 ">Settings</a>
                            </li>
                        </ul>
                        <div class="py-2">
                            <a href="../login_home.html"
                                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 ">Sign
                                out</a>
                        </div>
                    </div>

                    <button data-collapse-toggle="navbar-sticky" type="button"
                        class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 "
                        aria-controls="navbar-cta" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <!-- Navbar -->
        <nav class="bg-gray-100">
            <div class="items-center justify-between hidden w-full md:flex md:width-auto  md:order-1" id="navbar-sticky"
                style="width: 100%; overflow: hidden;">
                <ul
                    class="md:divide-x md:divide-slate-200 flex flex-col p-2 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-gray-100">
                    <li>
                        <a v-bind:href="'../Approver/Approver_home.html?id=' + userId"
                            class="lg:text-sm md:text-xs mr-2 ml-4 lg:ml-10 block py-2 pl-3 pr-2 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-sky-600 md:p-0"
                            aria-current="page">Validated Workflows</a>
                    </li>
                    <li>
                        <a v-bind:href="'../Approver/Approver_workflow.html?id=' + userId"
                            class="lg:text-sm md:text-xs ml-5 mr-4 block py-2 pl-3 pr-4 text-white bg-sky-600 rounded md:bg-transparent md:text-sky-600 md:p-0">
                            Workflows</a>
                    </li>
                    <li>
                        <a :href="'../Approver/Approver_accounts.html?id=' + userId"
                            class="lg:text-sm md:text-xs ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-sky-600 md:p-0">
                            Accounts</a>
                    </li>
                    <li>
                        <a :href="'../Approver/Approver_form.html?id=' + userId"
                            class="lg:text-sm md:text-xs ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-sky-600 md:p-0">
                            Forms</a>
                    </li>
                </ul>
            </div>
        </nav>


        <!-- Orange Divider -->
        <div class='row' style='height: 8px; background-color: #0284c7'></div>

        <!-- Table -->
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg mx-8 mt-3">
            <table class="w-full text-sm text-left text-gray-500">
                <caption class="p-5 text-lg font-semibold text-left text-gray-900 bg-white ">
                    Workflow Sequence
                    <p class="mt-1 text-sm font-normal text-gray-500">

                        <a v-bind:href="'../Approver/Approver_workflow.html?id=' + userId"><span class="underline hover:text-gray-800">
                                Workflow
                            </span></a><span onclick="document.location = 'Approver_workflow_sequences.html'"
                            class='text-sky-600'>> Workflow
                            Sequence </span>
                    </p>
                </caption>
                <thead class="text-sm text-white bg-sky-600">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Status
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Work Flow ID
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Form ID
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Form Sequence ID
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Form Name
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Date Submitted
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Last Edited
                        </th>
                        <!-- <th scope="col" class="px-6 py-3">
                            Export
                        </th> -->
                        <th scope="col" class="px-6 py-3">
                            Delete
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-bs-toggle="modal" data-bs-target="#exampleModalScrollable" class="bg-white"
                        v-for="(value,key) in forms_sequences" style="cursor: pointer;">
                        <!-- STATUS -->
                        <td @click="goToSinglePage(value.formSequenceId)" v-if="value.status == 'APPROVED'"
                            class="px-6 py-4 text-green-600 font-medium">
                            {{value.status}}
                        </td>
                        <td @click="goToSinglePage(value.formSequenceId)" v-else
                            class="px-6 py-4 text-red-600 font-medium">
                            {{value.status}}
                        </td>
                        <td @click="goToSinglePage(value.formSequenceId)" class="px-6 py-4 font-medium text-gray-900 ">
                            {{workflow_id}}
                        </td>
                        <td @click="goToSinglePage(value.formSequenceId)" class="px-6 py-4 font-medium text-gray-900">
                            {{value.form.formId}}
                        </td>
                        <td @click="goToSinglePage(value.formSequenceId)" class="px-6 py-4">
                            {{value.formSequenceId}}
                        </td>
                        <td @click="goToSinglePage(value.formSequenceId)" class="px-6 py-4">
                            {{value.form.formName}}
                        </td>
                        <td @click="goToSinglePage(value.formSequenceId)" class="px-6 py-4">
                            {{value.form.dateSubmitted}}
                        </td>
                        <td @click="goToSinglePage(value.formSequenceId)" class="px-6 py-4">
                            {{value.form.lastEdited}}
                        </td>
                        <!-- delete form -->
                        <td class="px-6 py-4" style="text-align: center;">
                            <button @click="deleteForm(value.form.formId)">
                                <iconify-icon icon="mdi:trashcan-outline" class="hover:text-red-500" width="28"
                                    height="28"></iconify-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Button for Creating Form -->
        <div class="mx-8 mt-5">
            <button type="button" data-te-toggle="modal" data-te-target="#exampleModalCenteredScrollable"
                data-te-ripple-init data-te-ripple-color="light"
                class="inline-flex items-center float-right mr-4 px-6 py-2.5 bg-sky-600 hover:bg-sky-800  text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:shadow-lg focus:bg-sky-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-sky-800 active:shadow-lg transition duration-150 ease-in-out">
                <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 36 36">
                    <path fill="#FFFFFF"
                        d="M31 15H21V5a3 3 0 1 0-6 0v10H5a3 3 0 1 0 0 6h10v10a3 3 0 1 0 6 0V21h10a3 3 0 1 0 0-6z" />
                </svg> Assign New Forms
            </button>
        </div>

        <!-- Assign New Forms -->
        <div data-te-modal-init
            class="fixed top-0 left-0 z-[1055] hidden h-full w-full overflow-y-auto overflow-x-hidden outline-none"
            id="exampleModalCenteredScrollable" tabindex="-1" aria-labelledby="exampleModalCenteredScrollable"
            aria-modal="true" role="dialog">
            <div data-te-modal-dialog-ref
                class="pointer-events-none relative flex min-h-[calc(100%-1rem)] w-auto translate-y-[-50px] items-center opacity-0 transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:mt-7 min-[576px]:min-h-[calc(100%-3.5rem)] min-[576px]:max-w-[500px]">
                <div
                    class="pointer-events-auto relative flex w-full flex-col rounded-md border-none bg-white bg-clip-padding text-current shadow-lg outline-none">
                    <div
                        class="flex flex-shrink-0 items-center justify-between rounded-t-md border-b-2 border-neutral-100 border-opacity-100 p-4">
                        <h5 class="text-xl font-medium leading-normal text-neutral-800"
                            id="exampleModalCenteredScrollableLabel">
                            Add Existing Forms
                        </h5>
                        <button type="button" @click="closeAssignForm()"
                            class="box-content rounded-none border-none hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none"
                            data-te-modal-dismiss aria-label="Close">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="h-6 w-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </div>
                    <div class="relative p-4">
                        <!-- BODY -->
                        <div v-if="to_show_forms.length != 0">
                            <ul class="h-48 px-3 pb-3 overflow-y-auto text-sm text-gray-700 ">
                                <li v-for="(value, idx) of to_show_forms">
                                    <div class="flex items-center p-2 rounded hover:bg-gray-100">
                                        <input :id="value.formId" type="checkbox" :value="value.formId"
                                            v-model="assignForms[value.formId]"
                                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 ">
                                        <label :for="value.formId"
                                            class="w-full ml-2 text-medium font-medium text-gray-900 rounded">{{value.formName}}</label>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div v-if="to_show_forms.length == 0">
                            <div id="alert-2" class="flex py-4 mb-2 mt-3 px-8 text-red-800 rounded-lg bg-red-50"
                                role="alert">
                                <svg aria-hidden="true" class="flex-shrink-0 w-5 h-5" fill="currentColor"
                                    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                <span class="sr-only">Info</span>
                                <div class="ml-3 text-sm font-medium">
                                    All Exising Forms are already in this Workflow
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="flex flex-shrink-0 flex-wrap items-center justify-end rounded-b-md border-t-2 border-neutral-100 border-opacity-100 p-4">
                        <button type="button" @click="assignNewForm()" data-te-ripple-init data-te-ripple-color="light"
                            data-te-modal-dismiss
                            class="w-full text-white bg-sky-600 hover:bg-sky-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
<script>
    const vm = new Vue({
        el: '#app',
        data: {
            localhost: "http://localhost:5000",
            workflow_id: null,
            forms_sequences: "",
            all_forms: [],
            to_show_forms: [],
            workflow_data: "",
            existing_form_ids: [],
            existing_form_names: [],
            checked: [],
            form_name: "",
            assignForms: {},

            //LOCALSTORAGE
            userName: "",
            emailAddress: "",
            userId: ""
        },
        mounted: async function () {
            // this.userId = localStorage.userId;
            var query = window.location.search.substring(4);
            
            var slashidx = query.indexOf("/")
            this.workflow_id = query.substring(0, slashidx);

            this.userId = query.substring(slashidx + 8, );

            const API_URL = this.localhost + "/workflows/" + this.workflow_id;
            const API_URL2 = this.localhost + "/forms"
            const API_URL_LOCALSTORAGE = this.localhost + "/users/userType/" + "APPROVER"

            const requestOne = axios.get(API_URL);
            const requestTwo = axios.get(API_URL2);
            const requestThree = axios.get(API_URL_LOCALSTORAGE);

            axios.all([requestOne, requestTwo, requestThree])
                .then(axios.spread((...responses) => {
                    const responseOne = responses[0].data
                    const responseTwo = responses[1].data
                    const responseThree = responses[2].data

                    this.workflow_data = responseOne;
                    this.forms_sequences = responseOne.formSequences;
                    console.log(this.forms_sequences)
                    this.all_forms = responseTwo;

                    //LOCALSTORAGE
                    for (each of responseThree) {
                        if (each.userId == this.userId) {
                            this.userName = each.userName
                            this.emailAddress = each.emailAddress
                        }
                    }

                    //check for exisiting form IDs
                    for (i in this.forms_sequences) {
                        var form = this.forms_sequences[i].form
                        var form_id = form.formId
                        var form_name = form.formName
                        if (!(this.existing_form_ids.includes(form_id))) {
                            this.existing_form_ids.push(form_id)
                        }
                        if (!(this.existing_form_names.includes(form_name))) {
                            this.existing_form_names.push(form_name)
                        }
                    }

                    console.log(this.existing_form_names)

                    //to display forms that in NOT in workflow (assign new forms modal)
                    for (each of this.all_forms) {
                        if (!(this.existing_form_names.includes(each.formName))) {
                            this.to_show_forms.push(each)
                            this.existing_form_names.push(each.formName)
                        }
                    }
                    console.log(this.to_show_forms)

                })).catch(errors => {
                    console.log(errors)
                })
        },
        methods: {
            goToSinglePage: function (id) {
                console.log(id)
                window.location.assign("./Approver_form_sequence2.html?id=" + id + "/wf=" + this
                    .workflow_id + "/userId=" + this.userId)
            },
            async updateWorkflow(API_URL3) {
                await axios.put(API_URL3, this.workflow_data)
                    .then(response => {
                        document.location.reload();
                    })
                    .catch(error => {
                        console.log(error.message)
                    })
            },
            async assignNewForm() {
                var approver = this.workflow_data.approver
                var admin = this.workflow_data.admin
                var vendor = this.workflow_data.vendor

                console.log(this.assignForms)
                for (i in this.assignForms) {
                    if (this.assignForms[i] == true) {
                        var URL = this.localhost + "/form/clone/" + i
                        axios.post(URL)
                            .then(response => {
                                var seqNo = 0;
                                var newForm = response.data
                                console.log(newForm)

                                var temp = {}
                                temp["form"] = newForm;
                                seqNo += 1
                                temp["seqNo"] = seqNo;
                                temp['status'] = "NOT_STARTED"

                                this.forms_sequences = [temp]
                                this.workflow_data['formSequences'] = this.forms_sequences
                                this.workflow_data['approver'] = approver
                                this.workflow_data['admin'] = admin
                                this.workflow_data['vendor'] = vendor

                                // update workflow with assigned forms
                                const API_URL3 = this.localhost + "/workflows/" + this.workflow_id;
                                this.updateWorkflow(API_URL3);

                            }).catch(error => {
                                console.log(error.message)
                            })
                    }
                }
            },
            closeAssignForm() {
                this.assignForms = {};
            },
            //to delete form
            deleteForm(form_id) {
                var formSequences = this.workflow_data.formSequences
                for (i in formSequences) {
                    if (formSequences[i].form.formId == form_id) {
                        var form_sequence_id = formSequences[i].formSequenceId
                    }
                }
                const API_URL3 = this.localhost + "/formsequences/" + form_sequence_id;

                axios.delete(API_URL3, this.workflow_data)
                    .then(response => {
                        alert("Delete Successfully!")
                        console.log(response.data)
                        document.location.reload();
                    })
                    .catch(error => {
                        console.log(error.message)
                    })
            }
        }
    })
</script>