<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
    <!-- VUE 2 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- tailwind elements -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    fontFamily: {
                        sans: ['Inter', 'sans-serif'],
                    },
                }
            }
        }
    </script>
    <title>Quantum</title>
    <style>
        table {
            border: none;
            border-collapse: collapse;
        }

        table td {
            border-left: 1px solid #e6e6e6;
            border-right: 1px solid #d6d6d6;
        }

        table td:first-child {
            border-left: none;
        }

        table td:last-child {
            border-right: none;
        }
    </style>
</head>

<body>
    <div id="app">
        <!-- header -->
        <div class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded ">
            <div class="container flex flex-wrap items-center justify-between mx-auto"
                style="width: 100%; overflow: hidden;">
                <img src="../Images/Quantum_Logo.jpg" class="mr-3 sm:h-15 ml-3 mt-2 mb-2"
                    style="height: 80px ; width: 200px;" />

                <div class="flex md:order-2">
                    <a href="../Admin/Admin_home.html" style="margin-right: 10px;">
                        <iconify-icon icon="ic:round-home" style="color: #0284c7;" width="40" height="40">
                        </iconify-icon>
                    </a>

                    <button id="dropdownAvatarNameButton" data-dropdown-toggle="dropdownAvatarName"
                        class="flex items-center text-sm font-medium text-gray-900 rounded-full hover:text-sky-600  md:mr-0"
                        type="button">
                        <span class="sr-only">Open user menu</span>
                        <a class='mr-2'>
                            <iconify-icon icon="healthicons:ui-user-profile" style="color: #0284c7;" width="40"
                                height="40">
                            </iconify-icon>
                        </a>
                        Tim Klemmer
                        <svg class="w-4 h-4 mx-1.5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </button>

                    <!-- Dropdown menu -->
                    <div id="dropdownAvatarName"
                        class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-50 ">
                        <div class="px-4 py-3 text-sm text-gray-900 ">
                            <div class="font-bold">Admin</div>
                            <div class="truncate">Tim.Klemmer@quantum.com</div>
                        </div>
                        <ul class="py-2 text-sm text-gray-700 "
                            aria-labelledby="dropdownInformdropdownAvatarNameButtonationButton">
                            <li>
                                <a href="#" class="block px-4 py-2 hover:bg-gray-100 ">Settings</a>
                            </li>
                        </ul>
                        <div class="py-2">
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 ">Sign
                                out</a>
                        </div>
                    </div>

                    <button data-collapse-toggle="navbar-sticky" type="button"
                        class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 "
                        aria-controls="navbar-cta" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>


        <!-- Navbar -->
        <nav class="bg-gray-100">
            <div class="items-center justify-between hidden w-full md:flex md:width-auto  md:order-1" id="navbar-sticky"
                style="width: 100%; overflow: hidden;">

                <ul
                    class="md:divide-x md:divide-slate-200 flex flex-col p-2 border border-gray-100 rounded-lg bg-gray-50 md:flex-row  md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-gray-100">
                    <li>
                        <a href="../Admin/Admin_home.html"
                            class="lg:text-sm md:text-xs ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-sky-600 md:p-0">
                            Home</a>
                    </li>
                    <li>
                        <a href="../Admin/Admin_workflow.html"
                            class="lg:text-sm md:text-xs ml-5 mr-4 block py-2 pl-3 pr-4 text-white bg-sky-600 rounded md:bg-transparent md:text-sky-600 md:p-0">
                            Workflows</a>
                    </li>
                    <li>
                        <a href="../Admin/Admin_accounts.html"
                            class="lg:text-sm md:text-xs ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-sky-600 md:p-0"
                            aria-current="page">Accounts</a>
                    </li>
                    <li>
                        <a href="../Admin/Admin_form.html"
                            class="lg:text-sm md:text-xs ml-5 mr-4 block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-sky-600 md:p-0">
                            Forms</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Orange Divider -->
        <div class='row' style='height: 8px; background-color: #0284c7'></div>

        <!-- Table -->
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg mx-8 mt-3">
            <table class="w-full text-sm text-left text-gray-500">
                <caption class="p-5 text-lg font-semibold text-left text-gray-900 bg-white ">
                    Form Sequences
                    <p class="mt-1 text-sm font-normal text-gray-500">
                        <span onclick="document.location = 'Admin_home.html'">Home > </span><span
                            onclick="document.location = 'Admin_workflow.html'">Workflow > </span><span
                            onclick="document.location = 'Admin_workflow_sequences.html'" class='text-sky-600'>Form
                            Sequences </span>
                    </p>
                </caption>
                <thead class="text-xs text-white uppercase bg-sky-600">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Work Flow ID
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Form ID
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Form Name
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Date Submitted
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Last Edited
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Sequence No
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Status
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Approval ID
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Form Document
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Delete
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-bs-toggle="modal" data-bs-target="#exampleModalScrollable" class="bg-white"
                        v-for="(value,key) in forms_sequences">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                            {{workflow_id}}
                        </th>
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                            {{value.form.formId}}
                        </th>
                        <td class="px-6 py-4">
                            {{value.form.formName}}
                        </td>
                        <td class="px-6 py-4">
                            {{value.form.dateSubmitted}}
                        </td>
                        <td class="px-6 py-4">
                            {{value.form.lastEdited}}
                        </td>
                        <td class="px-6 py-4">
                            {{value.seqNo}}
                        </td>
                        <td class="px-6 py-4" v-if="status != null">
                            {{value.status}}
                        </td>
                        <td class="px-6 py-4" v-if="status == null">
                            Status Not Valid
                        </td>
                        <td class="px-6 py-4">
                            {{value.approvalId}}
                        </td>
                        <td style="text-align: center;">
                            <button v-on:click="goToFormPage(value.form.formId)" type="button">
                                <iconify-icon icon="mdi:file-document" class="hover:text-sky-600" width="28"
                                    height="28"></iconify-icon>
                            </button>
                        </td>
                        <!-- delete form -->
                        <td class="px-6 py-4" style="text-align: center;">
                            <button @click="deleteForm(value.formId)">
                                <iconify-icon icon="mdi:trashcan-outline" class="hover:text-red-500" width="28"
                                    height="28"></iconify-icon>
                            </button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div class="mx-8 mt-5">
            <button type="button" data-modal-target="authentication-modal" data-modal-toggle="authentication-modal"
                class="inline-flex items-center float-right  px-6 py-3.5 bg-sky-600 hover:bg-sky-800  text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:shadow-lg focus:bg-sky-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-sky-800 active:shadow-lg transition duration-150 ease-in-out">
                <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 36 36">
                    <path fill="#FFFFFF"
                        d="M31 15H21V5a3 3 0 1 0-6 0v10H5a3 3 0 1 0 0 6h10v10a3 3 0 1 0 6 0V21h10a3 3 0 1 0 0-6z" />
                </svg> Create New Forms
            </button>
            <button type="button" data-te-toggle="modal" data-te-target="#exampleModalScrollable" data-te-ripple-init
                data-te-ripple-color="light"
                class="inline-flex items-center float-right mr-5  px-6 py-3.5 bg-sky-600 hover:bg-sky-800  text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:shadow-lg focus:bg-sky-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-sky-800 active:shadow-lg transition duration-150 ease-in-out">
                <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 36 36">
                    <path fill="#FFFFFF"
                        d="M31 15H21V5a3 3 0 1 0-6 0v10H5a3 3 0 1 0 0 6h10v10a3 3 0 1 0 6 0V21h10a3 3 0 1 0 0-6z" />
                </svg> Add New Forms
            </button>
        </div>

        <!-- CREATE NEW FORM modal -->
        <div id="authentication-modal" tabindex="-1" aria-hidden="true"
            class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full">
            <div class="relative w-full h-full max-w-md md:h-auto">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow ">
                    <button type="button" @click="closeCreateModal()"
                        class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
                        data-modal-hide="authentication-modal">
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                    <div class="px-6 py-6 lg:px-8">
                        <h3 class="mb-4 text-xl font-medium text-gray-900">Create New Form</h3>
                        <form class="space-y-6" action="#">
                            <div>
                                <label for="formName" class="block mb-2 text-sm font-medium text-gray-900">Form
                                    Name</label>
                                <input type="formName" name="formName" id="formName" v-model="form_name"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                                    required>
                            </div>
                            <button type="button" @click="createNewForm()"
                                class="w-full text-white bg-sky-600 hover:bg-sky-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--ADD FORM MODAL-->
        <div data-te-modal-init
            class="fixed top-0 left-0 z-[1055] hidden h-full w-full overflow-y-auto overflow-x-hidden outline-none"
            id="exampleModalScrollable" tabindex="-1" aria-labelledby="exampleModalScrollableLabel" aria-hidden="true">
            <div data-te-modal-dialog-ref
                class="pointer-events-none relative h-[calc(100%-1rem)] w-auto translate-y-[-50px] opacity-0 transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:mt-7 min-[576px]:h-[calc(100%-3.5rem)] min-[576px]:max-w-[500px]">
                <div
                    class="pointer-events-auto relative flex max-h-[100%] w-full flex-col overflow-hidden rounded-md border-none bg-white bg-clip-padding text-current shadow-lg outline-none">
                    <div
                        class="flex flex-shrink-0 items-center justify-between rounded-t-md border-b-2 border-neutral-100 border-opacity-100 p-4">
                        <h5 class="text-xl font-medium leading-normal text-neutral-800"
                            id="exampleModalScrollableLabel">
                            Modal title
                        </h5>
                        <button type="button"
                            class="box-content rounded-none border-none hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none"
                            data-te-modal-dismiss aria-label="Close">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="h-6 w-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </div>
                    <div class="relative overflow-y-auto p-4">
                        <p>
                            This is some placeholder content to show the scrolling behavior
                            for modals. We use repeated line breaks to demonstrate how
                            content can exceed minimum inner height, thereby showing inner
                            scrolling. When content becomes longer than the predefined
                            max-height of modal, content will be cropped and scrollable
                            within the modal.
                        </p>
                        <div style="height:800px;"></div>
                        <p>This content should appear at the bottom after you scroll.</p>
                    </div>
                    <div
                        class="flex flex-shrink-0 flex-wrap items-center justify-end rounded-b-md border-t-2 border-neutral-100 border-opacity-100 p-4">
                        <button type="button"
                            class="w-3/12 text-white bg-sky-600 hover:bg-sky-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                            data-te-modal-dismiss data-te-ripple-init data-te-ripple-color="light">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                localhost: "http://localhost:5000",
                workflow_id: null,
                forms_sequences: "",
                status: null,
                form_name: "",
            },
            mounted: async function () {
                var query = window.location.search.substring(4);
                this.workflow_id = query;
                const API_URL = this.localhost + "/workflows/" + this.workflow_id;

                axios.get(API_URL)
                    .then(response => {
                        this.forms_sequences = response.data.formSequences;
                        console.log(this.forms_sequences)

                    })
                    .catch(error => {
                        console.error(error);
                    })
            },
            methods: {
                goToFormPage: function (id) {
                    console.log(id)
                    window.location.assign("./Admin_individual_form.html?id=" + id)
                },
                createNewForm() {
                    var yourDate = new Date()
                    yourDate.toISOString().split('T')[0]
                    var URL = this.localhost + "/form"
                    axios.post(URL, {
                            formName: this.form_name,
                            dateSubmitted: yourDate
                        })
                        .then(response => {
                            console.log(response.data)

                            document.location.reload();
                            this.closeCreateModal()
                        })
                        .catch(error => {
                            console.log(error.message)
                        })
                },
                deleteForm(form_id) {
                    var URL = this.localhost + '/form/' + form_id
                    axios.delete(URL)
                        .then(response => {
                            alert("Deletion is successful!")
                            document.location.reload();
                        })
                        .catch(error => {
                            console.log(error.message)
                        })
                },
                closeCreateModal() {
                    this.form_name = ""
                }
            }
        })
    </script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
</body>

</html>