<!-- add new form modal -->
<div data-te-modal-init
class="fixed top-0 left-0 z-[1055] hidden h-full w-full overflow-y-auto overflow-x-hidden outline-none"
id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div data-te-modal-dialog-ref
    class="pointer-events-none relative h-[calc(100%-1rem)] w-auto translate-y-[-50px] opacity-0 transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:mt-7 min-[576px]:h-[calc(100%-3.5rem)] min-[576px]:max-w-[500px]">
    <div
        class="pointer-events-auto relative flex max-h-[100%] w-full flex-col overflow-hidden rounded-md border-none bg-white bg-clip-padding text-current shadow-lg outline-none light:bg-neutral-600">
        <div
            class="flex flex-shrink-0 items-center justify-between rounded-t-md border-b-2 border-neutral-100 border-opacity-100 p-4 ">
            <h5 class="text-xl font-medium leading-normal text-gray-800" id="exampleModalLabel">
                Add Form
            </h5>
            <button type="button"
                class="box-content rounded-none border-none hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none"
                data-te-modal-dismiss aria-label="Close">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="h-6 w-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
        </div>
        <div class="relative overflow-y-auto p-4">
            <div class="modal-body relative p-4">
                <div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6">
                    <div class="grid gap-4 gap-y-2 text-sm grid-cols-1">
                        <div class="lg:col-span-2">
                            <table>
                                <thead class="text-xs text-white uppercase bg-sky-600">
                                    <tr>
                                        <th scope="col" class="px-6 py-3">
                                            Form ID
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            Form Name
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            Add
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <form>
                                        <tr data-bs-toggle="modal" data-bs-target="#exampleModalScrollable"
                                            v-for="(value,key) in all_forms" class="bg-white">
                                            <td>
                                                {{value.formId}}
                                            </td>
                                            <td>
                                                {{value.formName}}
                                            </td>
                                            <td style="text-align: center;">
                                                <!-- <button v-on:click="updateFormSequence(value.formId)" type="button">
                                                    <iconify-icon icon="mdi:file-document" width="28" height="28"></iconify-icon>
                                                </button> -->
                                                <label><input type="checkbox" v-model="checked"
                                                        id="value.formId" name="value.formId"
                                                        value="value.formId"></label>
                                            </td>
                                        </tr>
                                        <button @click="addForms()"
                                            class="w-full text-white bg-sky-600 hover:bg-sky-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Submit</button>
                                    </form>
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div
            class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-gray-200 rounded-b-md">

            <button @click="addForm()" type="button" data-te-modal-dismiss
                class="flex items-center px-5 py-2.5 font-medium tracking-wide text-white capitalize bg-sky-600 rounded-md hover:bg-sky-800  focus:outline-none focus:bg-skyy-900  transition duration-300 transform active:scale-95 ease-in-out">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                    fill="#FFFFFF">
                    <path d="M0 0h24v24H0V0z" fill="none"></path>
                    <path
                        d="M5 5v14h14V7.83L16.17 5H5zm7 13c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3zm3-8H6V6h9v4z"
                        opacity=".3"></path>
                    <path
                        d="M17 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V7l-4-4zm2 16H5V5h11.17L19 7.83V19zm-7-7c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3zM6 6h9v4H6z">
                    </path>
                </svg>
                <span class="pl-2 mx-1">Save</span>
            </button>
        </div>
    </div>
</div>
</div>